<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'public/css/index.css' %}">
</head>

<body>
    <script src="{% static 'public/js/index.js' %}"></script>
    <script src="{% static 'public/js/global.js' %}"></script>
    <header>
        <p>Hello! This is Christian and Tyler's currency conversion website</p>
    </header>
    <div>
        <p class="animateSpaceBar">Press space bar to continue</p>
    </div>
    <section>
        <p><a href="home">Or click here</a></p>
    </section>
</body>
</html>
