<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Currency Conversion Website</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'public/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/global.css' %}">
	<script src="{% static 'public/js/global.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
	<header>
		<img src="{% static 'public/images/PROFILE.png' %}" width = "150" alt="A plane showing how worldwide currency conversion is">
        <p>Christian's currency conversion website</p>
	</header>
	<nav id="nav_menu">
    	<ul>
        	<li><a id="home">Home</a></li>
        	<li><a id="reg">Registration</a></li>
        	<li><a id="prof" class="current">Profile</a></li>
        	<li><a id="log">Login</a></li>	
    	</ul>
	</nav>
	<main>
		<section>
			<aside id="one"><p>First Name: <a></a></p></aside>
            <aside id="two"><p>Last Name: <a></a></p></aside>
            <aside id="three"><p>Date of Birth: <a></a></p></aside>
           <aside id="four"><p>Phone Number: <a></a></p></aside>
           <aside id="five"><p>Email Address: <a></a></p></aside>
        </section>
		<div class="button-group" id="button">
    		<button onclick="goBack()">Back</button>
    		<button onclick="submitProfile()">Submit</button>
		</div>
		<script src="{% static 'public/js/profile.js' %}"></script>
	</main>
	<footer>
		<p>CMPT 221 - Professor Kienzle</p>
	</footer>
	<script src="{% static 'public/js/global.js' %}"></script> <!--I had to call the script for global a second time because the nav menu needs the the LI elements ID's read already to function-->
</body>
</html>
