<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Currency Conversion Website</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'public/css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/global.css' %}">
    <script src="{% static 'public/js/login.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
	<header>
		<img src="{% static 'public/images/CLIPBOARD.png' %}" height = "150" alt="A plane showing how worldwide currency conversion is">
        <p>Tyler and Christian's currency conversion website</p>
	</header>
	<nav id="nav_menu">
    	<ul>
        	<li><a id="home">Home</a></li>
        	<li><a id="reg" class="current">Registration</a></li>
            <li><a id="prof">Profile</a></li>
        	<li>{% if user.is_authenticated %} <a id="logout">Logout</a> {% else %} <a id="log">Login</a> {% endif %}</li>	
    	</ul>
	</nav>
    <aside>
        {% if form.errors %} 
        <p class="error">There was an error with your form</p>
        {% endif %}

        {% if messages %}
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
		{% endif %}

        <h1>Register</h1>
        <p>Fill out the required fields to make an account</p>
    </aside>
	<main>
		<form action="" method="POST">
			{% csrf_token %}
            {{ form }}
			<input type="submit" value="Submit" class="button">
            <input type="button" class="button" onclick="history.back();" value="Back">
            <input type="reset" class="button">
		</form>
	</main>
	<footer>
		<p>CMPT 221 - Professor Kienzle</p>
	</footer>
    <script src="{% static 'public/js/global.js' %}"></script> <!--I had to call the script for global a second time because the nav menu needs the the LI elements ID's read already to function-->
</body>
</html>